lastfm.user="wouaren"
ui.seen.tray_icon=true
ui.local_playlists_imported=true
ui.sidebar_seen_at_fallback=1379016136
ui.did_migrate_old_settings=true
lastfm.pass="{{spotify_lastfm_pass}}"
ps.post-open-graph=0
apps.installed="pitchfork"
lastfm.enabled=true
ui.last_seen_product_type="premium"
